<div class="sidebar">
  <a routerLink="/admin-dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>people</mat-icon>
    <span>Users Management</span>
  </a>
  <a routerLink="/admin-dashboard/sales" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>shopping_cart</mat-icon>
    <span>Sales Management</span>
  </a>
  <a routerLink="/admin-dashboard/activitymonitor" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>monitor</mat-icon>
    <span>Activity Monitoring</span>
  </a>
  <a routerLink="/admin-dashboard/visit-managment" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>visibility</mat-icon>
    <span>Visits Overview</span>
  </a>
  <a routerLink="/admin-dashboard/loction-tracking" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>location_on</mat-icon>
    <span>Live Location</span>
  </a>
  <a routerLink="/admin-dashboard/reporting" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>assessment</mat-icon>
    <span>Reports</span>
  </a>
</div>
