<div class="sidebar">
    <a routerLink="../admin-dashboard">
      <mat-icon>people</mat-icon>
      <span>Users Management</span>
    </a>
    <a routerLink="../admin-dashboard/sales">
      <mat-icon>shopping_cart</mat-icon>
      <span></span>Sales Management
    </a>
    <a routerLink="../admin-dashboard/activitymonitor">
      <mat-icon>monitor</mat-icon>
      <span>Activity Monitoring</span>
    </a>
    <a routerLink="../admin-dashboard/visit-managment">
      <mat-icon>visibility</mat-icon>
      <span>Visits Overview</span>
    </a>
    <a routerLink="../admin-dashboard/loction-tracking">
      <mat-icon>location_on</mat-icon>
      <span>Live Location</span>
    </a>
    <a routerLink="../admin-dashboard/reporting">
      <mat-icon>assessment</mat-icon>
      <span>Reports</span>
    </a>
  </div>
  