html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

content {
    flex: 1;
}

footer {
    background-color: #1CA4AC;
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;
}


footer {
    background-color: #1CA4AC;
    color: white;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer-logo {
    height: 150px;
}

.footer-section h4 {
    margin-top: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.newsletter form {
    display: flex;
    align-items: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 100%;
    border: none;
    margin-right: 10px;
}

.newsletter button {
    padding: 10px;
    background-color: white;
    color: #1CA4AC;
    border: none;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #f1f1f1;
}

.footer-bottom {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.social-icons {
    font-size: 24px;
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
}
