.container{
  margin-top: 60px;
  margin-left: 250px;
  width: 70vw;
}
 
  .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top:100px ;
  }
  
  .dropdown select {
    width: 70%;
    text-align: center;
    padding: 7px 57px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  .search-button {
    padding: 7px 35px;
    font-size: 16px;
    border: none;
    border-radius: 1px;
    background-color: #1CA4AC; /* Dark blue color */
    color: white;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0497a7; /* Darker blue on hover */
  }
  
  .card-header {
    margin-top: 10px;
    margin-right: 400px;
    margin-bottom: 15px;

  }
  .visit-report-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 9px solid rgb(212, 212, 217); /* Blue border */
    border-radius: 2px;
    max-width: 800px;
    width: 100%;
    text-align: center;
  }
  
  .visit-detail {
    padding-bottom: 20px;
  }
  
  i {
    margin-right: 5px; /* Adjust margin to increase space between icon and text */
  }
  h1, h2, h3, p {
    margin-bottom: 10px; 
  }


  @media print {
    body * {
      visibility: hidden;
    }
  
    #visit-report-content, #visit-report-content * {
      visibility: visible;
    }
  
    #visit-report-content {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  
  .custom-hr {
    border-top: 3px solid #1CA4AC; 
    width: 13%; 
   margin-top: -.2rem;
  }
  
  .custom-table {
    border: 1px solid #1CA4AC;
    border-collapse: collapse;
  }
  .custom-table th,
  .custom-table td {
    border: 1px solid #1CA4AC;
  }