<div class="container">
  <div class="dropdown">
    <select id="userSelect" [(ngModel)]="selectedUserId" (ngModelChange)="filterByUser(selectedUserId)">
      <option value="" disabled>Select a Medical Rep</option>
      <option *ngFor="let user of users" [value]="user.id">{{ user.first_name }} {{ user.last_name }}</option>
    </select>
  </div>
  <div>
    <h3> Reporting </h3>
    <hr class="custom-hr">
  </div>
  <div class="mt-5 d-flex justify-content-between align-items-center">
    <h4 class="card-header"><i class="fas fa-file-alt"></i> Visit Report</h4>
    <button class="search-button" (click)="generatePDF()">Download PDF</button>
  </div>
  
  <div id="visit-report-content" >
    <div *ngFor="let visit of filteredVisitReports" class="visit-report-card m-auto my-2">
      <div class="table-responsive">
        <table class="table table-bordered table-striped custom-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Field</th>
              <th scope="col">Info</th>
            </tr>
          </thead>
          <tbody>
    
            <tr>
              <td><strong>Medical rep Name</strong></td>
              <td>{{ visit.user.first_name }} {{ visit.user.last_name }}</td>
            </tr>
            <tr>
              <td><strong>Date</strong></td>
              <td>{{ visit.visit_date  }}</td>
            </tr>
            <tr>
              <td><strong>Time</strong></td>
              <td>{{ visit.visit_time }}</td>
            </tr>
            <tr>
              <td><strong>Visit Location</strong></td>
              <td>{{ visit.doctors[0].street }}, {{ visit.doctors[0].state }}, {{ visit.doctors[0].city }}</td>
            </tr>
            <tr>
              <td><strong>Doctor Name</strong></td>
              <td>{{ visit.doctors[0].first_name }} {{ visit.doctors[0].last_name }}</td>
            </tr>
            <tr>
              <td><strong>Doctor Specialization</strong></td>
              <td>{{ visit.doctors[0].specialization }}</td>
            </tr>
            <tr>
              <td><strong>Doctor Contact info</strong></td>
              <td>{{ visit.doctors[0].phone_number }}</td>
            </tr>
            <tr>
              <td><strong>Purpose of Visit</strong></td>
              <td>{{ visit.purpose }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>




