<div class="container mt-4">
  <h3 class="text-center mb-4">Product Name: {{ sale?.product_name }}</h3>

  <div class="table-responsive">
    <table class="table table-bordered table-striped custom-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Info</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td><strong>Unit Price</strong></td>
          <td>{{ sale?.unit_price }}</td>
        </tr>
        <tr>
          <td><strong>Unit Target Price</strong></td>
          <td>{{ sale?.unit_target_price }}</td>
        </tr>
        <tr>
          <td><strong>Target Units</strong></td>
          <td>{{ sale?.target_units }}</td>
        </tr>
        <tr>
          <td><strong>Total Units</strong></td>
          <td>{{ sale?.total_units }}</td>
        </tr>
        <tr>
          <td><strong>Total Target Price</strong></td>
          <td>{{ sale?.total_target_price }}</td>
        </tr>
        <tr>
          <td><strong>Total Actual Price</strong></td>
          <td>{{ sale?.total_actual_price }}</td>
        </tr>
        <tr>
          <td><strong>Start Date</strong></td>
          <td>{{ sale?.start_date | date }}</td>
        </tr>
        <tr>
          <td><strong>End Date</strong></td>
          <td>{{ sale?.end_date | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center my-4">
    <a routerLink="../../../../user/sales" class="btn btn-primary">Back to Sales List</a>
  </div>
</div>
