<div class="container mt-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="card-title text-center mb-4" style="color: black;">{{ sale.product_name }}</h1>
  
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="card bg-light border-0">
              <div class="card-body the-card">
                <ul class="list-unstyled">
                  <li><strong>Total Units: </strong><span>{{ sale.total_units }}</span> </li>
                  <li><strong>Unit Price: </strong><span>{{ sale.unit_price | currency }}</span> </li>
                  <li><strong>Target Units: </strong><span>{{ sale.target_units }}</span> </li>
                  <li><strong>Admin ID: </strong><span>{{ sale.admin_id }}</span> </li>
                  <li><strong>User ID: </strong> <span>{{ sale.user_id }}</span></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="card bg-light border-0">
              <div class="card-body the-card">
                <ul class="list-unstyled">
                  <li><strong>Unit Target Price: </strong><span>{{ sale.unit_target_price | currency }}</span> </li>
                  <li><strong>Total Target Price: </strong><span>{{ sale.total_target_price | currency }}</span> </li>
                  <li><strong>Total Actual Price: </strong><span>{{ sale.total_actual_price | currency }}</span> </li>
                  <li><strong>Start Date: </strong><span> {{ sale.start_date | date }}</span></li>
                  <li><strong>End Date: </strong><span>{{ sale.end_date | date }}</span> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="text-center mt-4">
          <a routerLink="../../../../user/sales" class="btn btn-primary">Back to Sales List</a>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!sale" class="container text-center mt-5">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p class="mt-3">Loading...</p>
  </div>
  