.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 10px !important;
  }

  .form-row {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }

  .form-field {
    flex: 1;
    min-width: 200px;
  }

  .gender-group {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .action {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    button{
        flex: 1;
    }
  }

  button {
    min-width: 100px;
  }
  .save{
    background-color: #1CA4AC;
    color: white;
  }
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }

    .form-field {
      width: 100%;
    }
}