body {
  overflow-x: hidden; 
  margin: 0;
  padding: 0; 
  width: 70vw;
}

.container {
  margin: auto;
  max-width: 40vw; 
  padding: 0 15px; 
 
}

  
.logo .logo_text{

  margin-top: 12px;
  font-family: "Lobster Two", sans-serif;
   font-weight: 700;
   font-style: normal;
  font-size: 29px;
  color: #1CA4AC;
  margin-left: -1rem;

}

  .form-label {
    font-weight: bold;
  }
  
  .invalid-feedback {
    font-size: 0.875em;
    color: #dc3545;
  }
  
 
  

  
  
  .container {
    width: 40vw;
    margin: auto;
  }
  .container img{
    margin-top: -4rem;

  }
  .container form {
    margin-top: -2rem;
  }
  
  .container input[type="email"],
  .container input[type="password"],
  .container .send_email {
    width: 516px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #9095A1FF;
    border-radius: 26px;
    outline: none;
  }
  
  .container .send_email {
    color: #FFFFFF;
    background: #1CA4AC;
    border: none;
    border-radius: 26px;
  }
  
  .container .send_email:hover {
    color: #FFFFFF;
    background: #008991;
  }
  
  .logo {
    display: flex;
    margin-left: 4vw;
    margin-top: 2vh;
    align-items: center;
  }
  
  .logo img {
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
  
  .logo .logo_text {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-size: 29px;
    color: #1CA4AC;
  }
  


  