.add-visit-dialog {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-height: 80vh; /* Ensure the dialog does not exceed the viewport height */
  }
  
  .dialog-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  
  .mat-dialog-content {
    flex: 1;
    overflow-y: auto; /* Make the content area scrollable if needed */
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .mat-form-field .mat-label {
    font-size: 16px;
  }
  
  .mat-form-field.appearance-outline .mat-form-field-wrapper {
    padding: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .mat-form-field.appearance-outline .mat-form-field-flex {
    padding: 8px 16px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }
  
  .mat-dialog-actions .mat-button {
    min-width: 100px;
  }
  
  .mat-dialog-actions .mat-button[color="warn"] {
    background-color: #f44336;
    color: #fff;
  }
  
  .mat-dialog-actions .mat-button[color="primary"] {
    background-color: #3f51b5;
    color: #fff;
  }
  
  .mat-dialog-actions .mat-button:hover {
    opacity: 0.8;
  }
  
  .form-field .mat-input-element {
    padding: 8px 0;
    font-size: 16px;
  }
  
  .mat-select-trigger {
    font-size: 16px;
  }
  
  .mat-autocomplete-panel {
    max-height: 200px;
    overflow-y: auto;
  }
  