<mat-toolbar color="primary" class="navbar">
  <div class="logo d-flex">
    <img src="assets/images/insurance.png" alt="RepAlert" width="50" height="50"/>
    <h4 class="logo_text">RepAlert</h4>
  </div>
  <span class="spacer"></span>

  <div class="user-profile" *ngIf="loggedInAdmin">
   <div style="margin-right: 100px;">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-profile-button">
      <img [src]="'http://localhost:8000/' + loggedInAdmin.image" alt="User Image" class="user-image" />
      <span>{{ loggedInAdmin.first_name }}</span>
    </button>
    <mat-icon>arrow_drop_down</mat-icon>
   </div>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>Profile</button>
        <button mat-menu-item class="logout-button" (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
