/* General container styling */
.container {
  padding: 20px;
}

/* Text section styling */
.text-section {
  margin-top: 50px;
}

.text-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.text-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #666;
}

.start-button {
  background-color: #1CA4AC;
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #0c7b8a;
}

/* Image section styling */
.image-section {
  text-align: center;
  margin-top: 30px;
}

.image-section img {
  max-width: 100%;
  height: 80vh;
  margin-top: -3rem;
}

/* Latest Visits section */
.latest-visits-container {
  margin-top: 50px;
}

.latest-visits-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #1CA4AC;
  color: white;
  transition: background-color 0.3s ease;
  margin-top: 10rem;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #0c7b8a;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.carousel-item {
  text-align: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.carousel-item.active {
  opacity: 1;
  transform: scale(1);
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  height: 90vh;
  width: 27vw;
  margin-top: 3rem;
  margin-left: 4rem;
 
}
.card:first-child {
  margin-left: -460px;
}
.card:nth-child(2) {
  margin-left: 230px;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 1.1rem;
  color: #666;
  text-align: left;
}
.text_tools{
margin-top: -1rem;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.custom-hr {
  border-top: 3px solid #1CA4AC; 
  width: 20%; 
  margin: -.5rem auto;
}
.custom-table {
  border: 1px solid #1CA4AC;
}

.custom-table th {
  background-color: #1CA4AC;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.custom-table td {
  border-color: #1CA4AC; 
  text-align: center;
  white-space: nowrap;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #e6f7f8;
}
