.container{
    height: 80vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
.small_card{
    background-color: #1CA4AC;
    color: white;
    border-radius: 5px;
}
.btn{
    margin-top: 9rem;
}
.btn-primary {
    background-color: #1CA4AC;
    border-color: #1CA4AC;
  }

  .btn-primary:hover {
    background-color: #0C728C; 
    border-color: #0C728C; 
  }