.container {
    max-width: 80%; /* Adjust the maximum width as per your design */
   margin-left: 250px; 
 }

.btn-primary {
    background-color: #1CA4AC;
    border-color: #1CA4AC;
  }

  .btn-primary:hover {
    background-color: #0C728C; 
    border-color: #0C728C; 
  }

  /* sale-details.component.css */
.card-body {
    padding: 2rem;
  }
  
  .custom-table td {
    padding: 0.75rem;
  }
  
  
  .card-title {
    color: #333;
  }
 
  