
  <div class="logo d-flex mx-4">
    <img src="../../../assets/images/insurance (2).png" alt="RepAlert" width="50" height="50" class="mt-2"/>
    <h4 class="logo_text">RepAlert</h4>
  </div>
<div class="container forget_password_container m-auto ">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

    <img src="../../../assets/images/Forgot_password1.svg" width="388px" height="306px" class="mx-5">
    <h3 class="text-center">Forgot your password?</h3>
    <p>Enter your email so that we can send you a password reset link</p>
    <label for="email"><b>Email:</b></label><br>
    <input type="email" id="email" formControlName="email" placeholder="e.g. username@kinety.com" required><br>
    <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
        Valid email is required
    </div>
    <button type="submit" class="send_email mt-2">Send email</button>
    <a routerLink="../../admin/login" class="login_link m-auto text-center mt-3">
        <mat-icon aria-hidden="false" id="arrow_icon">arrow_back_ios</mat-icon>
        <p> Back to login</p>
      </a>
  </form>

</div>
