<div class="container">
    <div class="row">
    <div class="col-md-6 text-center" style="margin-top: 130px;">
    <h2>Welcome to our platform!</h2>
    <p>We are excited to have you here.</p>
    <button class="btn w-100 mb-3" style="background-color: #1CA4AC; color: #fff;" [routerLink]="['/admin/login']" >Login as Admin</button>
    <button class="btn btn-secondary w-100" [routerLink]="['/user/login']">Login as User</button>
    </div>
      <div class="col-md-6">
        <img src="assets/images/download.png" class="img-fluid" alt="Placeholder Image">
      </div>
    </div>
  </div>

