<div class="container">
    <h3 class="mt-3">Sales Overview</h3>
    <hr class="custom-hr">
  
    <div  class="container">
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Total Units</th>
            <th scope="col">Target Units</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Target Unit Price</th>
            <th scope="col">Total Actual Price</th>
            <th scope="col">Total Target Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales">
            <td>{{ sale.product_name }}</td>
            <td>{{ sale.total_units }}</td>
            <td>{{ sale.target_units }}</td>
            <td>{{ sale.unit_price | currency }}</td>
            <td>{{ sale.unit_target_price | currency }}</td>
            <td>{{ sale.total_actual_price | currency }}</td>
            <td>{{ sale.total_target_price | currency }}</td>
            <td>
              <a [routerLink]="'../sales/details/' + sale.sales_id">
                <mat-icon class="custom-info-icon">visibility</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- <div *ngIf="sales && sales.length === 0" class="container">
      <h3 class="alert alert-info">No sales data available.</h3>
    </div> -->
  
    <div *ngIf="!sales" class="container">
      <p>Loading...</p>
    </div>
  </div>
  