
.container{
  margin-left: 250px;
  margin-top: 90px;

}
.custom-form {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 45vw;
}

.custom-form label {
  margin-bottom: .3rem;
}

.custom-hr {
  border-top: 3px solid #1CA4AC;
  width: 31%;
  margin-top: -.3rem;
}



.btn-primary {
  background-color: #1CA4AC; 
  border-color: #1CA4AC; 
}

.btn-primary:hover {
  background-color: #0C728C; /* Button background color on hover */
  border-color: #0C728C; /* Button border color on hover */
}
