<div class="container">

<div class="activity-monitoring">
  

  <div class="centered-filters" style="margin-left: 150px;">
    <div class="filters">
      <mat-form-field class="user-select">
        <mat-label>Select User</mat-label>
        <mat-select [(value)]="selectedUser" (selectionChange)="searchVisits()">
          <mat-option *ngFor="let user of users" [value]="user">
            {{ user.first_name }} {{ user.last_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="users.length === 0">Loading users...</div>

      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Start Date" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button mat-button class="filter-button" (click)="searchByDateRange()" style="background-color: #1CA4AC; color:#fff;">Filter</button>
    </div>
  </div>
  <div>
    <h3>Activity Monitoring</h3>
    <hr class=" custom-hr">
  </div>

  <div class="visit-section">
    <div class="visit-history">
      <h5>Visit History</h5>
      <div class="visit-card" *ngFor="let visit of visitHistory">
        <p class="visit-name">{{ visit.purpose }}</p>
        <p>{{ visit.visit_date }} - {{ visit.visit_time }}</p>
        <button mat-button (click)="readMore(visit)">Read more</button> 
      </div>
    </div>

    <div class="planned-visits">
      <h5>Planned visits</h5>
       <full-calendar [options]="calendarOptions" *ngIf="calendarOptions"></full-calendar>  </div>
  </div>
</div>
</div>
  

