.medrep-detail {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }
  
    .details-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      .detail-item {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        background-color: #1CA4AC;
        color: white;
         
        mat-icon {
          color: white;
          margin-right: 10px;
        }
  
        span {
          &:nth-child(2) {
            font-weight: bold;
            color: white;
            margin-right: auto;
          }
  
          &:last-child {
            color: white;
          }
        }
      }
      
    }
  }
  